<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>		
		<string>clean.ds.store.task</string>

		<key>ProgramArguments</key>
		<array>
		<string>/Users/klemman/bin/cleanDsStore.sh</string>
		</array>

		<key>StartInterval</key>
		<integer>7200</integer>
		
		<key>StandardOutPath</key>
		<string>/Users/klemman/bin/cleanDsStore.log</string>
		
		<key>StandardErrorPath</key>
		<string>/dev/null</string>
		
	</dict>
</plist>